$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap";

/* Put your CSS here */
html, body {
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

header {
  height: 20px;
}

.container {
  max-width: 740px;
}

h1 {
  font-size: 24px;
  @media(max-width: $screen-sm-min) {
    font-size: 20px;
  }
}

h2 {
  font-size: 20px;
}

.home {
  ul {
    list-style-type: none;
    padding-left: 0;

    li {
      border: solid 1px #ccc;
      height: 150px;
      margin: 20px 0;

      a {
        display: block;
        width: 100%;
        height: 100%;
        color: black;

        &:hover {
          text-decoration: none;
        }

        h2 {
          vertical-align: top;
          display: inline-block;
          padding: 20px;
          margin: 0;
          background-color: rgba(255,255,255,0.4);

          @media(max-width: $screen-sm-min) {
            background-color: rgba(255,255,255,0.8);
            display: block;
          }
        }
      }
    }

    .webgl {
      position: relative;

      canvas {
        position: absolute;
        right: 10px;
        bottom: 0px;
      }
    }

    .machine-learning-long-ids {
      background-image: url("../images/MachineLearningLongIdsSideways.png");
      background-repeat: no-repeat;
      background-position: right -80px;
      background-size: 420px auto;
    }

    .left-and-depth {
      background-image: url("../images/leftAndDepth.jpg");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: 450px auto;

      @media (max-width: $screen-sm-min) {
        background-size: auto 100%;
      }
    }

    .machine-learning-hoods {
      background-image: url("../images/MachineLearningHoods.jpg");
      background-repeat: no-repeat;
      background-position: right 0px;
      background-size: 300px auto;

      @media (max-width: $screen-sm-min) {
        background-position: right 40px;
        background-size: 300px auto;
      }
    }

    .urban-events {
      background-image: url("../images/UrbanEvents.jpg");
      background-repeat: no-repeat;
      background-position: right -30px;
      background-size: 400px auto;
    }

    .hoodfrequency {
      background-image: url("../images/hoodFrequency.png");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: 410px auto;
    }

    .manhattanforum {
      background-image: url("../images/ManhattanForumBlack5S.jpg");
      background-repeat: no-repeat;
      background-size: auto 150px;
      background-position: right bottom;
    }

    .projectmonitor {
      background-image: url("../images/ProjectMonitor.png");
      background-repeat: no-repeat;
      background-size: auto 150px;
      background-position: right bottom;
    }

    .real-time-tweets {
      background-image: url("../images/WindowIntoBorough.png");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: auto 350px;
    }

    .snapshots {
      background-image: url("../images/TweetsAsPixels2.jpg");
      background-size: auto 150px;
    }

    .building_perimeters {
      background-image: url("../images/NycBuildingPerimeters.png");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: auto 150px;
    }

    .sunborn {
      background-image: url("../images/terrain_quad.gif");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: auto 200px;
    }

    .homeworkjunkie {
      background-image: url("../images/homework-junkie.jpg");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-size: auto 200px;
    }
  }
}

